.projects-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.2em;
}
.projects-details h1 {
  font-family: "Fairplay";
  font-size: 3em;
  font-weight: 400;
  text-align: center;
  padding-top: 1em;
}
.projects-details ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 32px;
  font-size: 24px;
}
.projects-details ul li {
  border-bottom: 2px solid #ff9058;
}
.projects-details img {
  width: 100%;
  height: 500px;
  border-radius: 25px;
  object-fit: cover;
}
.projects-bio {
  padding: 32px;
  font-size: 1.2em;
  text-align: justify;
}
