.all-projects{
    padding: 0.2em;
}

.project-content-hashtag {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2em;
  padding-bottom: 1em;
}

.project-content-hashtag p {
  background-color: #ff9058;
  border-radius: 25px;
}

.project-content-description{
    margin: 1em;
}
