.all-projects {
  padding: 0.2em;
}

.project-content-hashtag {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 0.2em;
  padding-bottom: 1em;
  padding-left: 2em;
}

.project-content-hashtag p {
  background-color: #ff9058;
  border-radius: 25px;
}

.project-content-description {
  margin: 1em;
}

@media (max-width: 768px) {
  .project-content-hashtag {
    display: none;
  }
}
